.bash_history
.dns
.idea/*
.composer/*
.cpanel/*
.sqmaildata/
.htpasswds/
.trash/*
.bash_logout
.bash_profile
.bashrc
.contactemail
.ftpquota
.gemrc
.lastlogin
composer.lock
composer.phar
phpDocumentor.phar
access-logs/*
access-logs
logs/*
etc/*
mail/*
public_ftp/*
.ssh/*
ssl/*
tmp/*
www
www/*

autoload/GCWorld/ORM/Generated/*

CVs/*
bulk_upload_temp/*
ipn_log/*
placement_student_files/*
private/*
student_docs/*
twig/cache/*
vendor/*


public_html/.cache/*
public_html/.error_logs/*
public_html/.temp/*
public_html/_insane/*
public_html/_jquery/cache/*
public_html/admin/cron/.logs/*

public_html/c/*
public_html/cgi-bin/*
public_html/classdocs/*
public_html/courses/*
public_html/cronjobs/backup/.backups/*
public_html/docs/*
public_html/files/*
public_html/marketing/*
public_html/test_marketing/*

public_html/support/*
public_html/videos/*
public_html/welcome/*






